{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block content %}
  <h1>About Us</h1>
{% endblock content %}
{% block body %}
<div class="card text-center">
    <div class="card-header">
     <h1> Featured  </h1>
    </div>
    <div class="card-body">
      <h2 class="card-title">About Us</h2>
      <p class="card-text text-center">The About Us page of your eCommerce website may not be the most important page on your online<br>
        store — it won’t bring you sales or get you leads. You’re not even sure if anyone will ever visit the page!</p>
      <p class="card-text text-center">But that doesn’t mean the About Us page is trivial. Every year,
        thousands of businesses <br> lose potential customers because of the lack of a proper About Us page.</p>
        <a href="/" class="btn btn-primary">Go somewhere</a>
    </div>
    
  </div>

{% endblock body %}